body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background: #1b2b42;
  color: white;
}

header {
  background: #bc9360;
  color: #1b2b42;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
}

header h2 {
  font-family: 'Playfair Display', serif;
}

nav {
  background: #222;
  text-align: center;
}

nav a {
  color: white;
  padding: 14px 20px;
  display: inline-block;
  text-decoration: none;
}

nav a:hover {
  background: #555;
}

.container {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

img.responsive {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.gallery img {
  width: 30%;
  margin: 1%;
  vertical-align: top;
  border-radius: 6px;
}

.contact-info a {
    color:white;
    font-weight: bold;
}

.banner {
  width: 20%;
  height: auto;
  display: block;
  margin: 0 auto 2rem auto;
}